
  @media only screen and (max-width: 1050px){
      .songlist h2{
        font-size: 2.7vw;
      }
      .container{
        width: 100%;
      }
      .songitems span{
          font-size: 2vw;
      }
      .songitems{
          height: auto;
          width: 100%;
      }
      .logo{
          height: auto;
          font-size: 2.4vw;
          float: right;
          /* display: block; */
      }
      .navbar ul li{
          font-size: 2.4vw;
      }
      .navbar ul{
          
        
      }

  }
  @media only screen and (max-width: 580px){
     .bottom{
         height: 90px;
     }
      .icons{
          margin-top: 45px;
      }
      .songinfo img{
          height: auto;
          width: 13%;
          margin-top: 20px;
      }
     
  }